<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>My Fur Baby</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FurTimerMask.otf</string>
		<string>FurCycle3-Regular.ttf</string>
		<string>FurCycle4-Regular.ttf</string>
		<string>FurLoop12-Regular.ttf</string>
		<string>FurLoop13-Regular.ttf</string>
		<string>FurLoop14-Regular.ttf</string>
		<string>FurIdle12-Regular.ttf</string>
		<string>FurIdle13-Regular.ttf</string>
		<string>FurIdle14-Regular.ttf</string>
		<string>FurLoop22-Regular.ttf</string>
		<string>FurRest22-Regular.ttf</string>
		<string>FurLoop23-Regular.ttf</string>
		<string>FurRest23-Regular.ttf</string>
		<string>FurLoop24-Regular.ttf</string>
		<string>FurRest24-Regular.ttf</string>
	</array>
</dict>
</plist>
